repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.9.13
    hooks:
      # Update the uv lockfile
      - id: uv-lock

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=20000']
      - id: check-toml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-json
      - id: detect-private-key

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev:  v0.14.7
    hooks:
    - id: ruff
      args:
        [
          --fix,
          --exit-non-zero-on-fix,
          --show-fixes
          ]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        # additional_dependencies:
        #   - types-pyyaml>=6.0.12.20250516
        #   - types-requests>=2.32.0.20250602
        args:
          [
            --config-file=pyproject.toml,
            # --ignore-missing-imports
            ]

  - repo: https://github.com/hukkin/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        additional_dependencies:
        - mdformat-gfm


  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks


  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.2
    hooks:
    - id: bandit
      args: ['--skip', 'B101', '--exclude', 'tests/']


  # uv run prek install --hook-type commit-msg --hook-type pre-push
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0
    hooks:
      - id: commitizen
        stages: [commit-msg]      # validate commit messages
      - id: commitizen-branch
        stages: [pre-push]        # validate branch names